.bodylabinput {
    background-image: url("./labinput.png");
    background-size: cover;
    background-position: center;
    height: auto;
}

.maaargin {
    margin-top: 3em;
}

.prevbuttons {
    border: none;
    border-radius: 13px;
    color: white;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    font-size: 2.5rem;
    cursor: pointer;
    background-image: linear-gradient(#507ee7, #222fa6);
}

.inputtime[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: white;
    cursor: pointer;
}

.inputtime {
    border: none;
    font-size: 1.5rem;
}

.innerdivinputtime {
    width: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.square {
    width: 90%;
    background-color: #161389;
    opacity: 90%;
    border-radius: 10px;
}

#paddingbox {
    padding-top: 4rem;
}

.texthead {
    text-align: center;
    color: white;
}

.formcontainer {
    margin: 5rem 1rem;
    padding-left: 5rem;
}

.margincol {
    margin-bottom: 3rem;
}

.inlinename {
    color: white;
    padding-left: 2rem;
}

.buttonCheck {
    padding-right: 0.5rem;
}

.form-control {
    border-radius: 8px;
    padding: 1rem 2.5rem;
    margin-bottom: 1rem;
}

.submit {
    color: white;
    padding: 1rem 2.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-image: linear-gradient(#507ee7, #222fa6);
    /* background-color: #31dc26;; */
    border-radius: 13px;
    margin-bottom: 2rem;
}

#placeholder-loading {
    width: 40rem;
    height: 40rem;
}

.loading-margin {
    margin-top: 22vh;
}

.bodylabinput {
    opacity: 0;
    transition: opacity 1.5s;
}

.bodylabinput.fade-in {
    opacity: 1;
}

@media (max-width: 991.98px) {
    .prevbuttons {
        font-size: 2rem;
    }

    .inputtime {
        font-size: 1.2rem;
    }

    .inlinename {
        font-size: 1.3rem;
    }
}

@media (max-width: 767.98px) {
    .prevbuttons {
        font-size: 1.5rem;
    }

    .inputtime {
        font-size: 0.8rem;
    }

    .textinputtime {
        font-size: 1rem;
    }

    .inlinename {
        font-size: 1.2rem;
    }
}
