html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.navbar {
  height: 8vh;
  border-bottom: 1px solid black;
}

img {
  max-width: 50%;
}

.navmargin {
  margin-left: auto;
}

.offcanvas {
  font-size: 1.8rem;
}

#navbarOffcanvasLabel {
  font-size: 3rem;
}

.offcanvas-size-sm {
  --bs-offcanvas-width: min(95vw, 15rem) !important;
}

@media (max-width: 767.98px) {


  .offcanvas {
    font-size: 2rem;
  }
}
